<ion-view class="agenda-view">
  <ion-nav-title>
  </ion-nav-title>

  <ion-tabs class="tabs-striped tabs-top tabs-background-ijo-muda tabs-color-light">
  
  
  <ion-tab title="Kecepatan" icon-on="kecepatan" icon-off="kecepatan_abu" href="#/app/tab/kecepatan">
    <ion-nav-view name="kec"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Alkohol" icon-on="alkohol" icon-off="alkohol_abu" href="#/app/tab/alkohol">
    <ion-nav-view name="alkohol"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Posisi" icon-on="posisi" icon-off="posisi_abu" href="#/app/tab/posisi">
    <ion-nav-view name="posisi"></ion-nav-view>
  </ion-tab>

</ion-tabs>
